/* 取消网页样式 */
input,
button,
select,
textarea {
	outline: none;
}

/* 取消链接按钮点击时默认背景 */
a,
button {
	-webkit-tap-highlight-color: transparent;
}

.head {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 40px;
	line-height: 40px;

	background: #D9579B;
	//background-image: url(../img/head.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;

	text-align: center;
}

/* .load img{

	//display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 210px;
	margin-left: -140px;
	margin-top: -105px;
	z-index: 9999;
} */
.load img{

	//display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	z-index: 9999;
}
