<!DOCTYPE html>
<html style="background-color: #e9e7ef;">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>

		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/recordAdd.css">

		<script src="js/jquery.min.js"></script>
		<script src="js/layer/layer.js"></script>
		<script src="js/config/common.js"></script>
		<script src="js/app.js"></script>

		<!--angularjs组件-->
		<script src="plugins/angularjs/angular.min.js"></script>
		<!--引入baseApp-->
		<script src="js/angular/app/baseApp.js"></script>
		<script src="js/angular/app/baseController.js"></script>
		<script src="js/angular/record/recordService.js"></script>
		<script src="js/angular/record/recordDetailController.js"></script>
	</head>
	<body ng-app="fhxy" ng-controller="recordDetailController" ng-init="init()">

		<div id="all">

			<!-- 头部 -->
			<div class="head">
				<img src="img/back.png" onclick="backRecord();">
				<span class="title">账单详情</span>
			</div>

			<div style="height: 40px;"></div>

			<div class="main" id="main" style="display: none;">

				<div class="session">

					<div class="title">
						类型
					</div>

					<div class="add" ng-if="entity.type==1">
						爱之深·如胶似漆
					</div>
					<div class="delete" ng-if="entity.type==0">
						恨之切·无言以对
					</div>
					<!-- <div class="delete">
						减少
					</div>
					<div class="normal">
						默认
					</div> -->

				</div>

				<div class="session">

					<div class="title">
						金额
					</div>

					<div class="add" ng-if="entity.type==1 ">
						+{{entity.score}}
					</div>
					<div class="delete" ng-if="entity.type==0">
						-{{entity.score}}
					</div>
					<!-- <div class="normal">
						20
					</div>
					<div class="normal">
						50
					</div>
					<div class="normal">
						100
					</div> -->

				</div>

				<div class="session">

					<div class="title">
						说明
					</div>

					<div class="info" id="info">
						<!-- <textarea>此处输入原因</textarea> -->
						<!-- <textarea id="info" rows="2" cols="20" placeholder="小主,o(*￣▽￣*)ブ,在此处填写原因."></textarea> -->
						<!-- {{entity.info}} -->
					</div>

				</div>

				<!-- <div class="session">

					<div class="title">
						回复
					</div>

					<div class="info">
						
						{{entity.info1}}
					</div>
					
				</div> -->
				<!-- <textarea>此处输入原因</textarea> -->
				<!-- <textarea id="info" rows="2" cols="20" placeholder="小主,o(*￣▽￣*)ブ,在此处填写原因."></textarea> -->



				<div style="text-align: center;" onclick="backRecord()">
					<div class="submit">
						返回
					</div>
				</div>


			</div>

		</div>


		<div class="load" id="load">
			<img src="img/load1.gif" />
		</div>
	</body>
</html>
