.main {
	background: #e9e7ef;
	padding: 8px 8px 1px 8px;
}

.session {
	width: 100%;
	margin-bottom: 8px;
	padding-bottom: 5px;
	border-radius: 5px;
	background: #FFFFFF;
}

.session .img {
	border: 4px solid #D9579B;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	//background-color: #ff8c31;
	margin: 10px 10px 0 10px;
	margin-top: -50px;
}

.session .name {
	//border: 1px solid red;
	display: inline-block;
	position: relative;
	//width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	color: #D9579B;
	top: -70px;
}

.session .title {
	//border-left: 5px solid #D9579B;
	//margin: 20px 0 0 0;
	padding: 10px 0 0 10px;
	height: 40px;
	line-height: 40px;
	//background-color: #1E9FFF;
	font-size: 20px;
	font-weight: bold;
	//color: #D9579B;
}

.session .des {
	text-align: center;
	display: inline-block;
	padding: 0 20px 10px 20px;
	margin: 0px 50px;

	height: 30px;
	line-height: 40px;
	//width: 100px;

	//background-color: #1E9FFF;
	font-size: 16px;
	font-weight: bold;
	color: #D9579B;
}

.session .cdes {
	color: #FFFFFF;
	background-color: #D9579B;
	box-shadow: 3px 3px 3px #D9579B;
	border-radius: 3px;
}

.session .introduction {
	margin: 10px;
	padding: 5px 2px;

	min-height: 240px;
	max-height: 240px;
	line-height: 24.5px;
	text-indent: 1.5em;
	overflow-y: auto;

	background-color: #758a99;
	box-shadow: 3px 3px 2px #758a99;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
