<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>

		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/record.css">

		<script src="js/jquery.min.js"></script>
		<script src="js/layer/layer.js"></script>
		<script src="js/config/common.js"></script>
		<script src="js/app.js"></script>

		<!--angularjs组件-->
		<script src="plugins/angularjs/angular.min.js"></script>
		<!--引入baseApp-->
		<script src="js/angular/app/baseApp.js"></script>
		<script src="js/angular/app/baseController.js"></script>
		<script src="js/angular/record/recordService.js"></script>
		<script src="js/angular/record/recordController.js"></script>

	</head>
	<body ng-app="fhxy" ng-controller="recordController" ng-init="init()">

		<div id="all">

			<!-- 头部 -->
			<div class="head">
				<span class="title">账单</span>
			</div>

			<div style="height: 40px;"></div>

			<div class="main" id="main">

				<div class="session" ng-repeat="pojo in list" ng-click="toDetail(pojo.id)">

					<div>

						<div class="scoreDelete" ng-if="pojo.type==0">
							-{{pojo.score}}
						</div>
						<div class="scoreAdd" ng-if="pojo.type==1">
							+{{pojo.score}}
						</div>

						<div class="infos">
							<div class="name" ng-if="equals(pojo.token2,searchEntity.token1)">
								[{{name}}]
							</div>
							<div class="name" ng-if="equals(pojo.token2,searchEntity.token1)==false">
								[{{cname}}]
							</div>

							<div class="info" ng-if="equals(pojo.token2,searchEntity.token1)">
								{{pojo.info}}
							</div>
							<div class="info" ng-if="equals(pojo.token2,searchEntity.token1)==false">
								{{pojo.info}}
							</div>

						</div>

						<hr ng-if="pojo.type==1" style=" opacity: .3; background-color: #D9579B;border: none;height: 2px;margin:0px 10px ; " />
						<hr ng-if="pojo.type==0" style="opacity: .3;background-color: #a1afc9;border: none;height: 2px;margin:0px 10px ; " />

						<div class="tips" ng-if="equals(pojo.token2,searchEntity.token1)">
							<span class="redTip">{{$index+1}}&nbsp;&nbsp;我的账单</span>
							<span ng-if="pojo.status1==0" class="redTip">未读</span>
							<span ng-if="pojo.status1==1" class="greenTip">已读</span>
							<!-- <span ng-if="pojo.status2==0" class="redTip">未回复</span>
							<span ng-if="pojo.status2==1" class="greyTip">已回复对方未读</span>
							<span ng-if="pojo.status2==2" class="greenTip">回复对方已读</span> -->

							<!-- <div class="redTip" style="float: right;margin-right: 10px;">
								我的消息
							</div> -->
						</div>

						<div class="tips" ng-if="equals(pojo.token2,searchEntity.token1)==false">
							<span class="greyTip">{{$index+1}}&nbsp;&nbsp;{{cname}}的账单</span>
							<span ng-if="pojo.status1==0" class="redTip">对方未读</span>
							<span ng-if="pojo.status1==1" class="greenTip">对方已读</span>
							<!-- <div class="greyTip" style="float: right;margin-right: 10px;">
								
							</div> -->
							<!-- <span ng-if="pojo.status2==0" class="greyTip">未回复</span>
							<span ng-if="pojo.status2==1" class="redTip">新回复</span>
							<span ng-if="pojo.status2==2" class="greenTip">回复已读</span> -->
						</div>

					</div>

				</div>

				<!-- <div class="session" ng-click="searchMore()">
					查看更多
				</div> -->
				<!-- <div class="session">
					查看更多
				</div>
				<div class="session">
					没有更多了
				</div> -->

			</div>


			<div class="foot">
				<div class="nav">
					<div class="item" onclick="toHref('index.html')">
						<img src="img/sy.jpg" />
						<div>首页</div>
					</div>
					<div class="active" onclick="toHref('record.html')">
						<img src="img/zd1.jpg" />
						<div>账单</div>
					</div>
					<div class="item" onclick="toHref('me.html')">
						<img src="img/wd.jpg" />
						<div>我的</div>
					</div>
				</div>
			</div>

		</div>
		<div class="load" id="load">
			<img src="img/load1.gif" />
		</div>
	</body>
</html>
